* {
  margin: 0;
  align-content: center;
  font-size: larger;
}

.app_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: grey;
  margin-bottom: 20px;
}

.app_body {
  justify-content: space-around;
  font-size: 12;
}
.col_class {
  font-size: 12;
}